Package: com.popsicletreehouse.canvasbackground
Name: CanvasBackground
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bring Spotify's canvas to your lock and homescreen
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.muirey03.libmryipc
